.form {
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  padding: var(--padding);
  background: white;
  border: var(--border);
  border-radius: var(--border-radius);
  border-color: var(--primary-color);
}
