<app-autocomplete placeholder="Search for a user..." [items]="allUsers" (itemSelect)="setSelectedUsers($event)" />

<div class="users-container">
  @if (filteredUsers.length) {
    @for (user of filteredUsers; track user.email) {
      <app-user-card [user]="user" />
    }
  } @else {
    <p class="empty-message">Upsss... nothing to display!</p>
  }
</div>

<div class="create-user-container">
  @if (showUserForm) {
    <app-user-form [formGroup]="formGroup">
      <div class="form-row">
        <app-input placeholder="First name" formControlName="firstName" />
        <app-input placeholder="Last name" formControlName="lastName" />
      </div>

      <div class="form-row">
        <app-input placeholder="Job title" formControlName="job" />
        <app-input type="number" placeholder="Phone" formControlName="phone" />
        <app-input type="email" placeholder="Email" formControlName="email" />
      </div>

      <app-button label="Create" [hasShadow]="true" (click)="submit()" />
    </app-user-form>
  }

  <app-button label="New user +" (click)="showUserForm = !showUserForm" />
</div>

@if (alertMessage) {
  <app-alert [message]="alertMessage" (close)="alertMessage = ''" />
}
